body {
    background-color: #141414;
    color: #cacaca;
}

p {
    max-width: 350px;
    background-color: #363636;
    margin: auto;
    position: fixed;
    right: 15px;
    top: 0px;
    bottom: 0px;
}