body {
    background-color: #141414;
    color: #cacaca;
}

#over {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

#over2 {
    width: 100px;
    height: 100px;
    overflow-y: auto;
}

#over3 {
    width: 50px;
    height: 100px;
    overflow-x: scroll;
}