body {
    background-color: #141414;
    color: #cacaca;
    font-family: 'Montserrat', sans-serif;
    text-shadow: #cacaca 0px 0px 5px;
}

.fondo {
    color: #141414;
    height: 500px;
    background: #ffffff07 url(https://placekitten.com/600/750) no-repeat center center fixed;
    background-size: cover;
    border-radius: 10px;
}

.fondo2 {
    height: 200px;
    background-image: linear-gradient(165deg, #141414, #ffaa0010, #ffaa0034, #ffaa0067);
    border-radius: 10px;
}

.box {
    box-shadow: #cacaca4d 0px 1px 5px inset;
    border-radius: 5px;
}

.text {
    text-shadow: #00eeff 0px 0px 5px;
}

.box2 {
    text-align: center;
    position: relative;
    left: 50px;
    top: 30px;
    width: 100px;
    height: 100px;
    background-color: #ffffff07;
    box-shadow: #cacaca4d 0px 0px 5px;
    margin-bottom: 80px;
}

.box2:hover {
    box-shadow: #cacaca4d 0px 0px 10px;
    transform: scale(1.1);
    transform: rotatex(50deg);
    cursor: pointer;
}

.box3 {
    text-align: center;
    position: relative;
    left: 50px;
    top: 30px;
    width: 100px;
    height: 100px;
    background-color: #ffffff07;
    box-shadow: #cacaca4d 0px 0px 5px;
    margin-bottom: 80px;
    transition: 0.3s;
    transition-delay: .1s;
}

.box3:hover {
    box-shadow: #cacaca4d 0px 0px 10px;
    cursor: pointer;
    width: 150px;
    scale: 1.1;
    background-color: #cacaca;
    color: #141414;
    text-shadow: #141414 0px 0px 5px;
}